
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Global properties ======================================================== */

body { 
	background:#fff; 
	font-family: 'Lato', sans-serif;
	font-size:16px; 
	line-height:1.375em;
	color:#fff;
	min-width:1000px;
	background: url('../images/body-bg.gif') top center repeat;
}
.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
html, body { height:100%;}


p {padding-top:16px;}

a {
	color:#d52d00; 
	outline:none;
}
a:hover{
	text-decoration:none;
}

/* Global Structure ============================================================= */

/* Left & Right alignment */

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.col-1, .col-2, .col-3 { float:left;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { 
	width:100%;
	overflow:hidden;
}
/*----- form defaults -----*/
input, select, textarea { 
	font-size:1em;
	font-family: 'Lato', sans-serif;
	vertical-align:middle;
	font-weight:normal;
}
input, textarea {
	color: #aeaeae;
	border-radius: 5px;
	background: #fff;
	border: none;
	border-top: 1px solid #e1e4e9;
	width: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
	padding: 8px 10px;
	outline: none;
}

/*----- other -----*/
.img-indent { 
	margin:0 40px 0 0; 
	float:left;
}
.extra-wrap { 
	width:100%;
}


h2 {
	font-weight: 300;
	font-size: 30px;
	padding: 10px 0 28px 0;
}
	.h-pad {
		padding-top: 42px;
	}
	.h-pad1 {
		padding-top: 50px;
	}
	.h-indent {
		padding-bottom: 0px;
	}
figure img {
	border-radius:5px;
	overflow: hidden;
}

.pad {
	padding-top: 30px;
}

/*===== header =====*/
header{
	min-height:82px;
	background: url('../images/header-bg.gif') left top repeat;
	border-bottom: 3px solid #1c1e21;
	padding-top: 25px;
}
	.logo {
		display: block;
		text-indent: -5000px;
		width: 306px;
		height:57px;
		background: url('../images/logo.png') left top no-repeat;
		float: left;
	}
		nav {
			float: right;
		}
			.menu {
				padding-top: 20px;
			}
				.menu li {
					float: left;
					padding: 0 15px 0 26px;
				}
					.menu li a {
						color: #999;
						text-decoration: none;
						text-transform: uppercase;
					}
						.menu li a:hover, .menu .active a {
							color: #fff;
						}
/*===== content =====*/
#content {

}
	#slider {
		height: 367px;
		padding-top: 40px;
	}
	.inner {
		background: #aaa;
		border-top: 3px solid #aaa;
		border-bottom: 3px solid #aaa;
		padding-bottom: 44px;
	}
	.block {
		padding: 40px 0 50px 0;
		background: url('../images/border-bg.gif') left bottom repeat-x;
		overflow: hidden;
	}
	.block-pad {
		padding: 40px 0 40px 0;
	}
	.info-block {
		float: left;
		width: 740px;
		text-transform: uppercase;
		font-weight: 400;
	}
		.link {
			color: #ee4003;
			text-decoration: none;
		}
			.link:hover {
				text-decoration: underline;
			}

		.button, .button1 {
			margin-top: 5px;
			float: right;
			display: inline-block;
			padding: 18px 33px 18px 33px;
			color: #fff;
			background: #343434;
			border-radius: 5px;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 300;
			transition:all 0.2s linear;
			-webkit-transition:all 0.2s linear;
     	-moz-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
		}
			.button:hover, .button1:hover {
				transition:all 0.2s linear;
			-webkit-transition:all 0.2s linear;
     	-moz-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
				background: #4f4f4f
			}
		.button1 {
			float: none;
		padding: 8px 28px;
		margin-top: 24px;
		}
	.grid-inner {
		padding-right: 61px;
	}

	.testimonial-block {
		background: #343434;
			border-radius: 5px;
			color: #edf0f6; 
			text-align: center;
			padding: 37px 50px;
			position: relative;
	}
	.testimonial-block:before {
		position: absolute;
		width:39px;
		content: '';
		height: 40px;
		background: url('../images/testimonials_bg.png') left top no-repeat;
		left: 14px;
		top:14px;
	}

		.clients-list li {
			float: left;
			padding-left: 76px;
		}
			.clients-list li:first-child {
				padding-left: 0;
			}
.camera_caption div{
	padding: 0;
	background: none;
	color: #999999;
}
.camera_caption div h2 {
	color: #edf0f6;
	padding-bottom: 35px;
}
.camera_caption .button {
	margin-top: 18px;
			float: none;
			display: inline-block;
			padding: 18px 35px 18px 35px;
			color: #000;
			background: #edf0f6;
			border-radius: 5px;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 300;
			transition:all 0.2s linear;
			-webkit-transition:all 0.2s linear;
     	-moz-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
}
	.camera_caption .button:hover {
		transition:all 0.2s linear;
			-webkit-transition:all 0.2s linear;
     	-moz-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
       background: #999;
	}

	.works li {
		padding-bottom: 24px;
	}
	.works .link {
		margin-bottom: 8px;
		display: inline-block;
	}
	.works li .button {
		float: none;
		padding: 8px 20px;
		margin-top: 0px;
	}


.carousel {
	width:940px !important;
	height: 52px;
	margin-bottom: -10px;
}
	.carousel li {
		padding: 0 60px 0 0;
	}

.prev, .next {
	position: absolute;
	display: block;
	width: 39px;
	height: 39px;
	opacity: 1
}
.prev:hover, .next:hover {
	opacity: 0.9;
}
.prev {
	background: url(../images/prev_bg.gif) left top no-repeat;
	right: 48px;
	top: 50px;
}
.next {
	background: url(../images/next_bg.gif) left top no-repeat;
	right: 0;
	top: 50px;
}
.title {
	display: block;
	padding: 10px 0 10px 0;
}

.list {
	margin-top: -5px;
}
.list li {
	background:url('../images/li-bg.gif') left 13px no-repeat;
	line-height: 30px;
	padding-left: 15px;
}
	.list li a {
		text-decoration: none;
		color: #f00;
	}
		.list li a:hover {
			color: #fff
		}



	#contact-form input {
		padding-left: 20px;
	}
		#contact-form textarea {
		padding-left: 20px;
		resize:none;
		height: 128px;
	}
		#contact-form label {
		height: 49px;
		display: block;
	}
		#contact-form .button1  {
		margin-right: 10px;
		padding: 8px 22px;
	}
	#search-form input {
		padding-left: 20px;
		font-weight: 300;
		width: 254px;
	}
	#search-form input[type=image] {
		width: 37px;
		padding: 0;
		margin-left: 4px;
	}

.contacts {
	padding-left: 15px;
}
	.contacts .title {
		padding: 5px 0 20px 0;
	}
	.pad1 {
	padding-bottom: 180px;
}

iframe {
	border-radius: 5px;
}

.news li {
	padding-top: 20px;
}
.news li:first-child {
	padding-top: 0;
}
.news figure {
	float: left;
	margin-right: 20px;
}
	.news strong {
		display: block;
		padding: 2px 0 5px 0;
	}
		.news a {
			text-decoration: none;
			color: #f00;
		}
			.news a:hover {
				color: #fff;;
			}

.null {
	padding-bottom: 0;
	background: none;
}
.post {
}

.post .info {
	width: 350px;
	float: left;
	padding-bottom: 20px;
}
.post .button1 {
	padding: 8px 20px;
	margin:14px 20px 0 0;
}
	.post .date {
		float: left;
		margin-right: 11px;
		width: 50px;
		background: #fff;
		text-align: center;
		font-size: 24px;
	}
	.post .date strong {
		display: block;
		padding: 5px 0
	}
	.post .date span{
		display: block;
		background: #7f7f7f;
		padding: 3px 0;
		line-height: 15px;
		color: #fff;
		font-size: 15px;
	}
	 .post .info a{
	 	color: #f00;
	 	text-decoration: none;
	 }
	 	.post .info a:hover {
	 		color: #fff;
	 	}

.comments {
	float: right;
	line-height: 20px;
}
	.comments span {
		display: inline-block;
		width: 26px;
		height: 19px;
		background: url('../images/comment-bg.gif') left top no-repeat;
		margin: 2px 0 0 10px
	}
/*===== footer =====*/
footer {
	height:71px;
	color: #9a9a9a;
	font-weight: 300;
	padding-top: 40px;
}
	.social {
		padding-left: 74px;
		line-height: 30px;
	}
		.social a {
			display: inline-block;
			margin-left: 5px;
		}
/*==========================================*/
    
/* Project specifics =========================================================== */
/* Pour some CSS below ========================================================= */


.server-not-found {
    text-align: center;
    padding: 13em 0 13em 0;
}

.server-not-found h6 {
    color: #999;
    text-transform: uppercase;
    font-size: 1.6em;
    line-height: 1.3em;
    font-weight: normal;
    letter-spacing: 0.07em;
}

.server-not-found b {
    font-size: 10em;
    line-height: 1em;
    display: block;
    text-align: center;
    color: #777;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.modal-enter {
    margin-left: -230px;
    width: 460px;
    top: 50%;
    margin-top: -10em;
}

.reveal-modal {
    visibility: hidden;
    top: 7em;
    left: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 101;
    -moz-box-shadow: 0 0 10px rgba(65, 74, 46,.4);
    -webkit-box-shadow: 0 0 10px rgba(65, 74, 46,.4);
    box-shadow: 0 0 10px rgba(65, 74, 46,.4);
}

.modal-enter .modal-center {
    text-align: center;
    padding: 2.2em 0 3em 0;
    color: #999;
    font-size: 1.1em;
    font-family: Arial, Geneva, sans-serif;
}

.modal-enter .modal-center h6 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.05em;
    padding-bottom: 1.2em;
}

.modal-enter .modal-center p {
    color: #acafa6;
    letter-spacing: 0.05em;
    font-size: 0.95em;
    line-height: 1.5em;
    padding-bottom: 2em;
}

.modal-enter .modal-center div {
    position: relative;
}

.modal-enter .close-reveal-modal {
    height: 3.2em;
    display: inline-block;
    /*background-color: #414A2E;*/
    background: url('../images/header-bg.gif') left top repeat;
    border: 1px solid #414A2E;
    color: #fff;
    font-size: 1em;
    line-height: 3.35em;
    padding: 0 2.8em;
    text-transform: uppercase;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 3;
    -webkit-border-radius: 0px  !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px  !important;
    -moz-transition: background-color 0.2s 0.2s ease;
    -o-transition: background-color 0.2s 0.2s ease;
    -webkit-transition: background-color 0.2s 0.2s ease;
}

.intro-sign-in {
    padding: 1.6em 1.85em 3em 1.7em;
    max-width: 1000px;
    margin: 0 auto;
}

section article {
    font-size: 0.88em;
    line-height: 1.6em;
    color: #414a2e;
    position: relative;
    z-index: 7;
    font-family: Tahoma, Geneva, sans-serif;
}

.intro-sign-in h6 {
    text-align: center;
    font-size: 1.25em;
    color: #fff;
    padding-bottom: 3.25em;
    font-weight: normal;
    letter-spacing: 0.05em;
}

.intro-sign-in .row-input {
    height: 21.3em;
}

.intro-sign-in.low .row-input {
    height: 10.3em;
}

h3 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.15em;
    letter-spacing: 0.09em;
    padding-bottom: 2em;
    padding-top: 2em;
}

.intro-sign-in .row-input .col-left {
    float: left;
    width: 42.5%;
}

.intro-sign-in .row-input label {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    padding: 0 0 0.15em 0.2em;
}

.intro-sign-in .row-input input {
    background: none;
    border: 1px solid #7a816c;
    width: 100%;
    height: 36px;
    padding: 0 2.2%;
    -moz-transition: all 0.2s 0.2s ease;
    -o-transition: all 0.2s 0.2s ease;
    -webkit-transition: all 0.2s 0.2s ease;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.col-left.wide, .col-right.wide {
    margin-top: 2em;
}

.intro-sign-in .row-input .col-right {
    float: right;
    width: 42.8%;
}

.row-button {
    height: 3.6em;
    position: relative;
    text-align: center;
    padding: 0;
}

.row-button a {
    height: 3.2em;
    display: inline-block;
   /* background-color: #414A2E; */
    background: url('../images/header-bg.gif') left top repeat;
    border: 1px solid #414A2E;
    color: #fff;
    font-size: 1.25em;
    line-height: 3.35em;
    padding: 0 2.8em;
    text-transform: uppercase;
    text-align: center;
    /*border: none;*/
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-family: Arial, sans-serif;
    -webkit-border-radius: 0px  !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px  !important;
    -moz-transition: all 0.2s 0.2s ease;
    -o-transition: all 0.2s 0.2s ease;
    -webkit-transition: all 0.2s 0.2s ease;
    transition: 1s;
}
.row-button:before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	top: 50%;
	margin-top: 0.15em;
	background-color: #414A2E;
	position: absolute;
	z-index: 1;
}
.row-button a:hover {
    background: none;
    background-color: #414A2E;
}
.row-button a:active {
    -webkit-box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.5);
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.5);
}

table#orders td:nth-last-child(-n+2) {
    width: 100px;
    text-align: center;
    padding: 0;
}

.content {
    position: relative;
    padding: 0 0 106px 0;
}

.table-1 {
    padding: 0 2.2em 0 2.06em;
}

.table-1 table {
    margin-bottom: 3.8em;
}

table, table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

table {
    width: 100%;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table-1 thead th {
    /* background-color: #aaa; */

    background: url('../images/header-bg.gif') left top repeat;
    border: 1px solid #414A2E;
    padding: 1.5em 0.4em;
    text-align: left;
    padding-bottom: 0.5em;
    vertical-align: middle;
    line-height: 1.2em;
}

.table-1 td {
    border: 1px solid #414A2E;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.4em;
    vertical-align: middle;
    line-height: 1.4em;
}

div#content {
    padding: 1em 1.85em 0em 1.7em;
    max-width: 1200px;
    margin: 0 auto;
}
